DATABASE_URL=postgres:///myapp-development
RACK_ENV=development
TZ=UTC
RAISE_ERRORS=true
FORCE_SSL=false
TIMEOUT=false
PRETTY_JSON=true
RDIO_APP_KEY=haywcqq46qcyg4ra6z9cquks
RDIO_APP_SECRET=fy9my5K4Jw
SPOTIFY_CLIENT_ID=f57f829f5d5c46a292e841def9026d28
SPOTIFY_CLIENT_SECRET=ae1cfbff042e42a2a36e0d90a0ca30d7
SECURE_KEY=2fi9ugflsiscwcdv3g2aq2v2c2nwam2elripnkjbn1s6n5m6c4,6c7r6pz375bhltbvt57slj5waqj3fw1t7hc0u8bqwda0sqdth5